:root {
  --primary-color: #003f8c;
}

/** {
  outline: 1px solid limegreen;
}*/

body {
  background: white;
  margin: 0;
  font-family: 'Poppins';
}

.navbar {
  background: var(--primary-color);
  padding: 20px;
  padding-left: 35px;
  padding-right: 35px;

  .logo {
    width: 150px;
  }

  .mobile-menu {
    width: 50px;
    cursor: pointer;
  }

  nav {
    display: none;
  }

  .container {
    display: flex;
    place-content: space-between;
  }
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
  background: var(--primary-color);
  color: white;
  padding-bottom: 210px;
  height: 21.2em;

  h1 {
    font: 38px "Roboto",sans-serif;
    padding: 10px;
    margin-bottom: 30px;
    font-weight: 300;
  }


  p.hero-text  {
    font-size: 25px;
    font-family: 'Roboto';
    text-align: center;
    padding-bottom: 0;
    color: #bed8fd;
    line-height: .9em;
  }

  a.survey {
    color: #bed8fd;

    &:hover {
      text-decoration: underline;
    }
  }

  button, .device {
    display: none;
  }
}

section.docker-con {
  background: #e9ebee;
  text-align: left;
  padding-bottom: 100px;

  .docker {
    width: 95%;
    background: white;
    //border: solid white;
    border-radius: 10px;
    margin: -11.2em 10px 0 -10px;
    padding: 17px 18px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);

    .docker-img {
      width: 21.5em;
      //float: center;
      //margin-top: -5px;

      img {
        width: 100%;
      }
    }

    p.join {
      color: #2496ed;
      margin-top: 25px;
      font-size: 1.1em;
      margin-bottom: 0;
    }

    h2 {
      text-align: left;
      margin-top: 1.5px;
      padding: 0;
      margin-left: 0;
      font-weight: 600;
      font-family: 'Poppins';
      font-size:  1.5em;
      color: #0b214a;
      margin-bottom: 0;
    }

    p.docker-text {
      font-family: 'Roboto';
      margin-top: -1px;
      line-height: 1.7em;
      font-weight: 400;
      padding-right: 36px;
    }

    .learn-more {
      a {
        color: #0055bd;
        padding-left: 8px;
        font-family: 'Roboto';
      }

      img {
        width: 27px;
      }
    }
  }

  h2 {
    padding: 90px 0 30px 0;
    margin: 0 22px 0 22px;
    font-family: 'poppins';
    font-size: 44px;
    font-weight: 500;
    color: #0b214a;
    text-align: center;
    line-height: 1.1em;
  }

  .millions {
    text-align: center;
    margin-top: 50px;

    div {
      display: inline-block;
      margin-top: 8px;

      h3  {
        font-size: 2.7em;
        color: #0b214a;
        margin-bottom: 0;
        margin-top: 10px;
        font-family: 'Roboto';
      }

      p {
        text-align: left;
        margin-top: 0;
        margin-bottom: 0;
        font-family: 'Roboto';
      }
    }
  }

  .get {
    text-align: center;
    margin-top: 35px;
    a {
      background: #0073ec;
      border-radius: 5px;
      padding:  18px 55px;
      font-weight: bold;
      font-family: 'Roboto';
      text-decoration: none;
      cursor: pointer;
      transition: background-color 0.15s;

      &:hover {
        background-color: #2f54a3;
        text-decoration: none;
      }
    }
  }
}

section.dev-area {
  background: white;
  padding-top: 50px;

  .text {
    text-align: center;
    font-family: 'poppins';

    h2 {
      padding-bottom: 10px;
      color: rgb(11, 33, 74);
      font-size: 42px;
      line-height: 48.4px;
      font-weight: 500;
      margin-bottom: 0;
    }

    p {
      margin-top: 0;
      line-height: 38px;
      font-size: 28px;
      color: rgb(11, 33, 74);
    }
  }

  .build {
    img {
      width: 100%;
    }

    div {
      text-align: left;

      h3 {
        font-size: 44px;
        color:rgb(11, 33, 74);
        font-weight: 500;
        line-height: 52.8px;
        padding-bottom: 10px;
        margin-bottom: 0;
      }

      ul {
        padding-bottom: 20px;
        padding-left: 20px;
        margin-top: 20px;
      }

      li {
        font-family: 'roboto';
        color: rgb(105, 122, 137);
        padding-top: 0;
        list-style-type: disc;
        //padding-bottom: 20px;
        //padding-left: 20px;
        //margin-top: 0px;
        line-height: 28px;
        font-weight: 400;
        font-size: 20px;
        border: none;
      }
    }
  }

  .share {
    img {
      width: 100%;
    }

    div {
      text-align: left;

      h3 {
        font-size: 44px;
        color:rgb(11, 33, 74);
        font-weight: 500;
        line-height: 52.8px;
        padding-bottom: 10px;
        margin-bottom: 0;
      }

     ul {
        padding-bottom: 20px;
        padding-left: 20px;
        margin-top: 20px;
      }
      
      li {
        font-family: 'roboto';
        color: rgb(105, 122, 137);
        padding-top: 0;
        list-style-type: disc;
        //padding-bottom: 20px;
        //padding-left: 20px;
        //margin-top: 0px;
        line-height: 28px;
        font-weight: 400;
        font-size: 20px;
        border: none;
      }
    }
  }

  .run {
    img {
      width: 100%;
    }

    div {
      text-align: left;

      h3 {
        font-size: 44px;
        color:rgb(11, 33, 74);
        font-weight: 500;
        line-height: 52.8px;
        padding-bottom: 10px;
        margin-bottom: 0;
      }

      ul {
        padding-bottom: 20px;
        padding-left: 20px;
        margin-top: 20px;
      }
      
      li {
        font-family: 'roboto';
        color: rgb(105, 122, 137);
        padding-top: 0;
        list-style-type: disc;
        //padding-bottom: 20px;
        //padding-left: 20px;
        //margin-top: 0px;
        line-height: 28px;
        font-weight: 400;
        font-size: 20px;
        border: none;
      }
    }
  }
}

section.containers {
  background: #003f8c;
  padding-top: .5em;

  .new {
    margin-bottom: 30px;
    padding-top: 32px;

    h2 {
      color: white;
      font-size: 54px;
      font-weight: 600;
      text-align: center;
      padding-top: 40px;
      padding-bottom: 5px;
      margin-bottom: 0;
      line-height: 1.1em;
    }
  
    p {
      margin-top: 0;
      margin-bottom: 45px;
      line-height: 38.4px;
      color: white;
      font-weight: 400;
      font-size: 24px;
      text-align: center;
    }
  }

  .link {
    margin-top: 0;

    img {
      margin-right: 12px;
    }

    font-family: 'Roboto';
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    //text-decoration: white underline;

    &:hover {
      text-decoration: white underline;
    }
  }
}

section.community {
  background: white;
  padding: 45px 0;
  margin: 0 45px;

  h2 {
    color: rgb(11, 33, 74);
    font-size: 44px;
    font-weight: 500;
    line-height: 1.1em;
    padding-bottom: 10px;
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
    font-family: 'Roboto';
    font-size: 20px;
    color: rgb(11, 33, 74);
    line-height: 1.5em;
    margin-bottom: 0;
  }

  button {
    border: none;
    background:#003f8c;
    padding: 1.2em 5.2em;
    border-radius: 5px;
    margin-top: 32px;
    margin-bottom: 100px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, text-decoration 0.2s;

    a {
      font-weight: bold;
      font-size: 1.2em;
      //text-decoration: underline;
    }

    &:hover {
      background-color: #e9ebee;

      a {
        color:#0073ec;
        text-decoration: none;
      }
    }
  }

  img {
    display: none;
  }
}

section.tools {
  background: #e9ebee;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 2.5em;

  h2 {
    font-size: 2.6rem;
    font-weight: 500;
    color: rgb(11, 33, 74);
    margin: 0 33px;
    padding: 30px 0;
    line-height: 1.1em;
    letter-spacing: -1px;
  } 

  img {
    width: 50%;
  }
}

section.subscription {
  padding-top: 3em;

  h2 {
    font-size: 2.7em;
    font-weight: 500;
    color:rgb(11, 33, 74);
    text-align: center;
    line-height: 1.1em;
    margin-bottom: .3em;
  }

  p {
    color:rgb(11, 33, 74);
    font-family: 'Roboto';
    text-align: center;
    margin-top: 0;
    font-size: 20px;
    line-height: 24px;
  }

  a {
    color:#0055bd;
    transition: color 0.2s;

    &:hover {
      text-decoration: underline;
      color:rgb(11, 33, 74);
    }
  }
}

section.docker-users {
  text-align: center;
  background:#e9ebee;
  padding-bottom: 1.5em;

  h2 {
    color:rgb(11, 33, 74);
    font-size: 2.7em;
    font-weight: 500;
    line-height: 48px;
    margin-top: 0;
    margin-bottom: 1.5em;
  }

  div {
    padding-bottom: 0;
    
    img {
      width: 50%;
    }
  }

  h3 {
    padding-top: 50px;
    color:rgb(11, 33, 74);
    font-size: 2.5em;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 0;
  }

  p.trust {
    margin-top: 0;
    font-size: 28px;
    line-height: 38px;
    color:rgb(11, 33, 74);
    padding-top: 10px;
  }
}


section.partner {
  background:#e9ebee;
  padding-top: 0;

  .partners {
    text-align: center;

    .aws {
      width: 55%;
      //margin-left: 20px;
      display: inline-block;
      background: white;
      border-radius: 10px;
      padding: 100px 30px 50px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
      margin-bottom: 20px;

      img {
        margin-bottom: 100px;
        width: 100%;
        margin-top: 0;
      }
  
      p {
        text-align: left;
        margin-bottom: 100px;
        font-size: 15px;
        line-height: 24px;
        font-family: 'Roboto';
      }

      a {
        color:#0055bd;
        float: left;
        margin-top: 0;
        font-family: 'Roboto';
        //padding-top: 40px;

        
        &:hover {
          color:#003f8c;

          span {
            text-decoration: underline;
          }
        }
      }
    }


    .azure {
      width: 55%;
      //margin-left: 20px;
      display: inline-block;
      background: white;
      border-radius: 10px;
      padding: 100px 30px 50px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
      margin-bottom: 20px;

      img {
        margin-bottom: 100px;
        width: 100%;
        margin-top: 0;
      }
  
      p {
        text-align: left;
        margin-bottom: 100px;
        font-size: 15px;
        line-height: 24px;
        font-family: 'Roboto';
      }

      a {
        color:#0055bd;
        float: left;
        margin-top: 0;
        font-family: 'Roboto';
        //padding-top: 40px;

        
        &:hover {
          color:#003f8c;

          span {
            text-decoration: underline;
          }
        }
      }
    }

    .snyk {
      width: 55%;
      display: inline-block;
      //margin-left: 55px;
      background: white;
      border-radius: 10px;
      padding: 100px 30px 50px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
      margin-bottom: 20px;

      img {
        margin-bottom: 100px;
        width: 100%;
        margin-top: 0;
      }
  
      p {
        text-align: left;
        margin-bottom: 100px;
        font-size: 15px;
        line-height: 24px;
        font-family: 'Roboto';
      }

      a {
        color:#0055bd;
        float: left;
        margin-top: 0;
        font-family: 'Roboto';
        //padding-top: 40px;

        
        &:hover {
          color:#003f8c;

          span {
            text-decoration: underline;
          }
        }
      }
    }

    .jfrog {
      width: 55%;
      //margin-left: 55px;
      display: inline-block;
      background: white;
      border-radius: 10px;
      padding: 50px 30px 50px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
      margin-bottom: 20px;

      img {
        margin-bottom: 50px;
        width: 100%;
        margin-top: 0;
      }
  
      p {
        text-align: left;
        margin-bottom: 100px;
        font-size: 15px;
        line-height: 24px;
        font-family: 'Roboto';
      }

      a {
        color:#0055bd;
        float: left;
        margin-top: 0;
        font-family: 'Roboto';
        //padding-top: 40px;

        
        &:hover {
          color:#003f8c;

          span {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.partner-button {
  text-align: center;

  button {
    margin-top: 2.5em;
    border: none;
    border-radius: 5px;
    background:#0073ec;
    padding: 20px 50px;
    font-weight: bold;
    font-size: 16px;
  
    &:hover {
      background: #0055bd;
    }
  }
  
}

section.path {
  h2 {
    font-size: 44px;
    font-weight: 500;
    line-height: 48px;
    color:#0b214a;
    text-align: center;
    padding-top: 10px;
  }

  ul {
    margin-top: 24px;
    padding: 0 0 24px 0;
  }
  div {
    display: flex;
    margin-bottom: 30px;
    margin-top: 50px;

    img {
      width: 55px;
      height: 55px;
    }

    p {
      font-size: 30px;
      font-family: 'Roboto';
      color:#0b214a;
      line-height: 32px;
      margin: 0;
      padding-top: 0;
      padding-left: 25px;

      a {
        color:#0055bd;

        &:hover {
          text-decoration: underline;
          color:#0b214a;
        }
      }
    }
  }

  .get-started-free {
    display: block;
    text-align: center;
    margin-top: 0;

    button {
      padding: 20px 30px;
      border-radius: 5px;
      border: none;
      background: #003f8c;
      font-weight: bold;
      font-size: 16px;
      transition: background-color 0.2s;

      &:hover {
        a {
          color: #0073ec;
        }

        background-color: #e9ebee;
      }
    }
  }
}

section.accelerate {
  background: #2496ed;
  padding: 5em 1em;
  //padding: 41px 0 46px 0;

  h2 {
    padding: 50px 0;
    margin: 0 0px;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    line-height: 62px
  }
}

footer {
  padding: 5em 2em;
  background:#002a64;

  .logo {
    width: 35%;
    margin-bottom: 25px;
  }

  a {
    color: #7eb0fb;
    display: block;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 26px;

    &:hover {
      text-decoration: underline;
    }
  }

  .product {
    padding-top: 10px;
    //width: 50%;
    //display: grid;

    .product-head {
      color: white;
      margin-top: 22px;
      margin-bottom: 12px;
      font-size: 18px;
    } 
  }

  .developer {
    //width: 50%;
    padding-top: 10px;
    //display: grid;

    .developer-head {
      color: white;
      margin-top: 22px;
      margin-bottom: 12px;
      font-size: 18px;
    } 
  }

  .about {
    padding-top: 10px;
    //display: grid;

    .aboutus-head {
      color: white;
      margin-top: 22px;
      margin-bottom: 12px;
      font-size: 18px;
    } 
  }

  .pricing {
    padding-top: 10px;
    //display: grid;

    .pricing-head {
      color: white;
      margin-top: 22px;
      margin-bottom: 12px;
      font-size: 18px;
    } 
  }

  .blog {
    color: white;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 12px;
    font-size: 18px;
    padding-bottom: 42px;
  }

  /*.pa {
    display: flex;
  }

  .dpb {
    display: flex;
    padding-bottom: 42px;
  }*/

  .copy {
    padding: 0 2em;
    font-family: 'Roboto';
    color: white;
    text-align: center;

    p {
      font-size: 12px;
    }

    a {
      display: inline-block;
      font-size: 14px;
      color: white;
      //margin: 0 5px;

      img {
        margin: 10px 10px ;
      }
    }
  }

  .cookie {
    //display: inline-block;
    text-align: center;
  }

  button {
    border: 1px solid #68b631;
    padding: 5px 25px;
    margin-top: 20px;
    
    a {
      color: #68b631;
      font-family: 'Roboto';
      font-size: 12px;
      text-decoration: none;
    }

    &:hover {
      background: #68b631;
      
      a {
        color: white;
      }
    }
  }
}

nav.menu-btn {
  display: block;
}

nav {
  background:#2496ed;
  position: absolute;
  //z-index: 999;
  width: 87%;
  height: 44%;
  right: 0;
  margin-top: 4em;
  padding: 2em;
}

ul.nav-list {
  margin-top: 5em;
  //padding: 20px;
}

li {
  color: white;
  font-weight: bold;
  font-size: 12px;
  //border: solid;
  padding-bottom: 10px;

  a {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
    line-height: 23px;
    margin-right: 20px;
  }
}

li.sign {
  //margin-bottom: 5 0px;
}

.gs {
  //margin: 5px 0px;
  //width: 95%;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  display: block;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 23px;
  transition: 0.2s background-color;

  &:hover {
    color:#003f8c;
    background-color: white;
  }
}

@media screen and (min-width: 320px) {
  section, footer {
    //width: 91.5%;
  }

  section.docker-con {
    .docker {
      .docker-img {
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
 nav {width: 92%;}
  section.hero {
  padding-bottom: 410px; 

  h1 {
    font-size: 62px;
   }

   p.hero-text {
    font-size: 26px;
    line-height: 24px;
   }

   button {
    margin-top: 25px;
    margin-bottom: 0;
    display: inline-block;
    border: none;
    border-radius: 5px;
    background:#0073ec;
    padding: 2em 5em;
    
    a {
      font-size: 18px;
      font-weight: bold;
    }

    p {
      margin: 0;
      font-size: 16px;
      font-weight: 500;
    }
   }

   .device {
    display: block;
    //text-align: center;

    ul {
      margin-top: 25px;
      display: flex;
      place-content: center;
      //box-sizing: border-box;
      //padding-left: 210px;
  
      li {
        //box-sizing: border-box;
        border: none;
        padding: 20px;
     }
    }
   }
  }

  section.docker-con {
    //padding: 5em 2em;
    .docker {
      width: 97%;
      //margin-top: -8em;

      .docker-img {
        width: 100%;
      }
    }

    .mill {
      text-align: center;
    }
    .millions {
      display: inline-block;
      text-align: center;
      //margin-left: 245px;
      //display: grid;
      //grid-template-columns: auto;

      div {
        text-align: left;
        display: block;
      }
    }
  }

  section.tools {
   .images {
    display: flex;
    flex-wrap: wrap;
    place-content: center;

    img {
      width: 80%;
    }

    .tanzu {
      width: 50%;
    }
   }
  }

  section.docker-users {
    padding-bottom: 80px;

    .users {
      display: inline-block;
      width: 65%;

      .user {
        display: flex;
        flex-wrap: wrap;
        place-content: center;
      }
    }
  }

  section.partner {
    padding: 2em 2em 0 2em;
    
    .partners {
      display: grid;
      grid-template-columns: repeat(2, auto);

      .aws {
        width: 80%;
        //flex: 1;
      }

      .azure {
        width: 75%;
        //flex: 1;
        margin-left: 10px;

        img {
          margin: 55px auto 130px;
        }

        p {
          margin-top: 60px;
        }
      }

      .snyk {
        width: 80%;
        //flex-basis: 48%;
        //margin-left: 20px;
        
        p {
          margin-bottom: 125px;
        }
      }

      .jfrog {
        width: 75%;
        //flex: 1;
        margin-left: 10px;

        img {
          margin-bottom: 85px;
        }

        p {
          margin-bottom: 125px;
        }
      }
    }
  }

  button {
    margin-top: 0;
  }

  section.path {
    padding: 5em 4em;
  }

  section.accelerate {
    padding: 5em 4em;

    h2 {
      font-size: 54px;
    }
  }

  footer {
    .services {
      //display: flex;
      padding-bottom: 84px;
      display: grid;
      grid-template-columns: auto auto auto auto;
    }
  
  .logo {
    margin-bottom: 0;
    width: 20%;
  }

  .copy {
    img {
      display: block;
    }
  }
 }
}


@media only screen and (min-width: 1024px) {
  .mobile-menu {
    display: none;
  }

  .container {
    //width: 1080px;
    margin: 0 auto;
  }

  section {
    padding: 10em 4em;
  }

  .navbar .container {
    display: flex;

    img.logo {
      padding: 0 25px 0 0;
    }
  }

  .navbar nav {
    display: inline-block;
    background: none;
    margin: 0px;
    padding: 0;
    position: unset;

    ul {
      display: flex;

      li {
        border: none;
        padding: 10px 0;

        a {
          padding: 30px 6px 20px;
          font-size: 15px;
          font-weight: 500;
          margin-right: 0px;
        }
      }
    }

    .nav-list {
      display: flex;
      place-content: space-between;

      a {
        margin-right: 20px;
      }

      .secondary-nav {

        li.gs-button {
          padding-top: 0;
          margin: -6px 0 0px;
        }

        .gs {
          font-weight: bold;
          font-size: 16px;
          margin-right: 0; 
          //margin: 0 0 10px;
          padding: 10px 20px;
        }
      }
    }
  }

  section.hero {
    padding-left: 4em;
    padding-right: 4em;

    h1 {
      font-size: 80px;
      margin: 0;

      br {
        display: none;
      }
    }
  }

  section.docker-con {
    .docker {
      width: 100%;
      margin: -15em 10px 0 -20px;
      display: grid;
      grid-template-columns: 30% 70%;
      //place-content: space-between;

      .docker-img {
        //margin-right: 50px;

        img {
          width: 100%;
        }
      }

      .dock-txt {
        width: 100%;
        margin-left: 30px;

        p.join {
          margin-top: 0;
          //width: 100%;
        }
      }
    }

    
    .millions {
      display: flex;
      margin-left: 0;
      place-content: space-between;
      padding: 0 25px;
    }

    .get {
      margin-top: 60px;
    }
  }

  section.dev-area {

    .build {
      display: flex;

      img {
        order: 2;
        width: 425px;
        height: 315px;
      }
    }

    .share {
      display: flex;

      img {
        width: 425px;
        height: 315px;
      }
    }

    .run {
      display: flex;

      img {
        order: 2;
        width: 425px;
        height: 315px;
      }
    }
  }

  section.community {
    display: flex;
    margin: auto 102px;

    .top {
      width: 50%;
     h2 {
      margin-top: 0;
      //line-height: 32px;
     }

     button {
      margin-bottom: 0;
     }
    }

    .comm {
      width: 50%;
      img {
        display: inline-block;
        width: 100%;
      }
    }
  }

  section.subscription {
    padding-bottom: 48px;

    h2 {
      font-size: 40px;
    }
  }

  section.docker-users {
    padding-top: 5em;

    .users {
      display: inline-block;
      width: 85%;

      .user {
        display: grid;
        grid-template-columns: auto auto auto;
      }

      img {
        width: 85%;
      }
    }
  }

  section.partner {
    padding: 5em 2.5em;

    .partners {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      
      .aws {
        margin-right: 0;

      }

      .azure {
        margin-left: 0;
        //padding-top: 95px;
      }

      .snyk {
       
      }

      .jfrog {
        grid-column: 2;
        margin-left: 0;
      }
    }
  }

  section.path {
    
    ul.path-list {
      margin: auto 7em;
    }
  }

  footer {
    .log {
      display: flex;
      place-content: space-between;

      .logo {
        width: 150px;
        height: 39px;
      }

      .services {
        width: 75%;
      }

      .product-head {
        margin: 0;
      }

      .aboutus-head {
        margin: 0;
      }

      .developer-head {
        margin: 0;
      }

      .pricing-head {
        margin: 0;
      }
    }

    .copy {
      display: flex;
      place-content: space-between;
      //grid-template-columns: auto auto;
      padding: 0;

      p {
        order: 2;
        //grid-area: p;
        //display: block;
        float: right;
        width: 30%;
        text-align: right;
      }

      .socials {
        order: 1;
        display: block;
        float: right;
      }
    }

    .cookie {
      text-align: right;

      button {
        margin: 0;
      }
    }
  }
}

@media only screen and (min-width: 1080px) {
  section {
    padding: 10em 5em;
  }

  h2 {
    font-size: 44px;
  }

  .navbar {
    padding: auto 6em;

    img.logo {
      padding-right: 55px;
    }
  }

  section.hero {
   br {
    display: none;
   }
  }

  section.docker-con {
    
    .docker {
      margin-top: -16em;

      .docker-img {
        width: 30%;
      }
    }

    h2 {
      margin: 0 2em; 
    }

    .millions {
      margin: auto 5em;
    }
  }

  section.dev-area {
    padding-bottom: 2em;
    .text {
      margin: auto 6em;
    }

    .build, .share, .run {
      img {
        width: 50%;
        height: 50%;
      }

      div {
        width: 45%;
      }
    }
  }

  section.containers {
    .new {
      margin: auto 7em;
    }
  }

  section.community {
    padding-top: 5em;

    .top {
      margin: auto 3em;
      width: 50%;
    }

    .comm {
      width: 45%;
    }
  }

  section.tools {
    h2 {
      font-size: 44px;
    }

    .images {

      img {
        width: 90%;
      }
    }
  }

  section.subscription {
    h2 {
      font-size: 44px;
    }
  }
  section.docker-users {

    .users {
      .user {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        .yale {
          grid-column: 3;
        }
      }
    }

    h3 {
      margin: auto 2em;
      font-size: 44px;
    }

    p {
      margin: auto 4em;
    }
  }

  section.partner {
    text-align: center;
    
    .partners {
      margin: auto 7em;
      //width: 80%;

      .aws, .azure, .snyk, .jfrog {
        width: 75%;
      }
    }
  }

  section.path {
    padding: 10em 10em 5em;
    h2 {
      //margin: auto 3em;
    }
  }

  section.accelerate {
    padding: 5em 7em;
  }

  footer {
    padding: 5em;
  }
}

@media only screen and (min-width: 375px) {

  section.docker-con {
    .docker {
      .docker-img {
        width: 100%;
      }
    }
  }
}

/*@media only screen and (min-width: 1440px) {
  section.docker-con {
    .docker {
      width: 100%;

      .docker-img {
        width: 100%;
      }
    }
  }
}*/